attrs==20.3.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.3
click==8.0.1
colorama==0.4.4
custom-inherit==2.3.2
cycler==0.10.0
decorator==4.4.2
dimod==0.10.4
dwave-cloud-client==0.8.6
dwave-neal==0.5.7
dwave-networkx==0.8.8
dwave-preprocessing==0.3.0
dwave-system==1.7.0
dwave-tabu==0.4.0
entropica-qaoa==1.2
fasteners==0.16.3
h11==0.9.0
homebase==1.0.1
httpcore==0.11.1
httpx==0.15.5
idna==3.2
iso8601==0.1.16
kiwisolver==1.3.1
lark==0.11.3
matplotlib==3.4.2
minorminer==0.2.6
msgpack==0.6.2
networkx==2.6.2
numpy==1.20.3
pandas==1.3.1
Pillow==8.3.1
plucky==0.4.3
py==1.10.0
pydantic==1.8.2
PyJWT==1.7.1
pyparsing==2.4.7
pyquil==3.0.0
PySocks==1.7.1
python-dateutil==2.8.2
python-rapidjson==1.4
pytz==2021.1
pyzmq==22.1.0
qcs-api-client==0.8.0
requests==2.26.0
retry==0.9.2
retrying==1.3.3
rfc3339==6.2
rfc3986==1.5.0
rpcq==3.9.1
ruamel.yaml==0.17.10
ruamel.yaml.clib==0.2.6
scipy==1.7.0
six==1.16.0
sniffio==1.2.0
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.6
